mixin header
	.menu
		a(href='http://gordormost.by/') Главная
		a(href='news.html') Новости
		a(href='teplohod.html') Теплоход
		a(href='servises.html') Услуги
		a(href='corruption.html') Меры по борьбе с коррупцией
		a(href='year.html') Год науки
		a(href='vacancies.html') Вакансии
	.header
		img(alt='гордормост г.Витебск', style='float:right; ', src='images/Logo.gif', width='130', height='130')
		p
			h1 Государственное предприятие "Гордормост" г.Витебск
		.clearfix